// Cores principais
$dark-gray: #2C2C2C;
$medium-gray: #767070;
$light-gray: #A9A9A9;

// Cores auxiliares
$highlight-yellow: #DDFE00;
// $background-light: #F1F2F3;
$background-light: #F7F7F7;
$card-background: rgba(255, 255, 255, 0.7);

// Cores opcionais (não usadas atualmente, mas mantidas)
$blue-hover: #2462FF;