@use '../../abstracts/' as *;

.letsTalk {
    @include flex(column);
    margin: 60px 0 150px;
    max-width: 1300px;
    width: 100%;

    h2 {
        font-size: clamp(2.25rem, 5vw, 6rem);

        color: $dark-gray;

        text-align: center;
        text-wrap: nowrap;

        width: 100%;
    }
    p {
        font-size: 1.2rem;
    }

    .contacts {
        @include flex(row, center, center);
        gap: 55px;
        width: 100%;

        margin-top: 60px;

        a {
            @include flex();
            
            border: $light-gray 1px solid;
            border-radius: 100px;

            padding: 16px;

            transition: border 0.3s ease-in-out;

            img {
                filter: grayscale(1);

                width: 31px;

                transition: filter 0.3s ease-in-out;
            }
        }

        a:hover {
            border: #a9a9a95d 1px solid;
            img {
                filter: grayscale(0);

            }
        }
    }
}